<div class="main">
    <div id="nav" class="navbar">
        <div class="logo-container">
            <div class="logo">
                <img src="static/logo_svg/logo2.svg" alt="logo">
            </div>
            <div class="logo-name">
                Liberty Against Poverty
            </div>
        </div>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Our Partners</li>
            <li>Events Undertaken</li>
            <li>Donate</li>
        </ul>
        <div class="toggle_menu">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn"><i class="fa fa-bars" aria-hidden="true"></i></label>
        </div>
    </div>

    <div class="introduction">
            <div class="slider-container">
                <div class="image-slider">
                    <img src="static/images/2.jpg" alt="img1" srcset="">
                    <img src="static/images/1.jpg" alt="img1" srcset="">
                    <img src="static/images/3.jpg" alt="img1" srcset="">
                    <img src="static/images/4.jpg" alt="img1" srcset="">
                </div>
                <div class="btn">
                    <button class="btn-slider" class="left-btn"><i class="fa fa-solid fa-arrow-left"></i></button>
                    <button class="btn-slider" class="right-btn"><i class="fa fa-solid fa-arrow-right"></i></button>
                </div>
                <div class="slider-dots">
                    <label>
                        <input type="radio" name="dot" id="dot-one">
                        <div for="dot-one" class="dot1"></div>
                    </label>
                    <label>
                        <input type="radio" name="dot" id="dot-two">
                        <div for="dot-two" class="dot1"></div>
                    </label>
                    <label>
                        <input type="radio" name="dot" id="dot-three">
                        <div for="dot-three" class="dot1"></div>
                    </label>
                    <label>
                        <input type="radio" name="dot" id="dot-four">
                        <div for="dot-four" class="dot1"></div>
                    </label>
                </div>
            </div>
          
            <div class="description">
                <h1>Liberty Against Poverty (LAPO)</h1>
                <p>We are a non-profit organization dedicated to empowering individuals and 
                    communities to break the cycle of poverty and achieve economic independence. 
                    Founded in 2003, LAPO operates with the core belief that poverty is not an inevitable 
                    fate, but a condition that can be overcome through education, 
                    empowerment, and advocacy.</p>
                <button class="donate_btn"> DONATE </button>
            </div>
    </div>

    <div class="mission">
        <img class="bg-image" src="static/images/mission-backgroud.jpeg" alt="" srcset="" >
        <div class="mStatement mItems">
            <div class="mission-png">
                <!-- <img src="static/images/pngegg.png" alt="" srcset=""> -->
                <h1>Our Mission</h1>
                <p>
                    LAPOs mission is to provide people living in poverty with the tools, skills, 
                    resources, and opportunities they need to improve their lives,
                    realize their full potential, and contribute to the betterment of 
                    communities they live in. We are committed to promoting economic liberty, 
                    social justice, and human 
                </p>
                <div class="mission-nav">
                    <button><i class="fas fa-compass"></i>Learn More</button>
                </div>
            </div>
        </div>  
        <div class="mImage mItems">
            <img src="static/images/pngegg.png" alt="" srcset="">
        </div>
    </div>

    <div class="vision">
        <img class="bg-image" src="static/images/mission-backgroud.jpeg" alt="" srcset="" >
        <div class="vImage mItems">
            <!-- <img src="static/images/pngegg.png" alt="" srcset=""> -->
            <div class="items movement-1">
                <img src="static/images/4.jpg" alt="" srcset="">
            </div>
            <div class="items movement-2">
                <img src="static/images/8.jpg" alt="" srcset="">
            </div>
            <div class="items movement-1">
                <img src="static/images/6.jpg" alt="" srcset="">
            </div>
            <div class="items movement-2">
                <img src="static/images/7.jpg" alt="" srcset="">
            </div>
        </div>
        <div class="vStatement mItems">
            <div class="vision-png">
                <!-- <img src="static/images/pngegg.png" alt="" srcset=""> -->
                <h1>Our Vision</h1>
                <p>
                    LAPOs mission is to provide people living in poverty with the tools, skills, 
                    resources, and opportunities they need to improve their lives,
                    realize their full potential, and contribute to the betterment of 
                    communities they live in. We are committed to promoting economic liberty, 
                    social justice, and human 
                </p>
                <div class="vision-nav">
                    <button><i class="fas fa-compass"></i>Learn More</button>
                </div>
            </div>
        </div>  
    </div>

    <div class="programs">
        <div class="breaker"></div>
        <h1>Programs and Initiatives</h1>
        <p>
            At LAPO, we are drive by a singular misssion: to eradicate poverty and empower
            individuals and communities to build a sustainable livelihoods. 
            Below are our transformative programs and Initiatives  that makes our vision a reality.
        </p>
        <div class="programs-1">
            <div class="progs">
                <h3></h3>
                <p></p>
            </div>
            <div class="progs">
                <h3></h3>
                <p></p>
            </div>
            <div class="progs">
                <h3></h3>
                <p></p>
            </div>
            <div class="progs">
                <h3></h3>
                <p></p>
            </div>
            <div class="progs">
                <h3></h3>
                <p></p>
            </div>
        </div>

    </div>



</div>
