/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

body{
    background-color: #efefef;
    
}


/* THIS IS WHERE THE NAVBAR CSS IS */

.navbar{
    width: 100%;
    background-color: #ff3b3f;
    display:flex;
    justify-content: space-between;
}

.navbar .logo-container{
   display: flex;
   align-items: center;
}

.logo{
    width: 70px
}
.logo-name{
    font-family: Poppins;
    font-weight: 500;
    line-height: 30px;
    color:#efefef;
}

.navbar ul{
    list-style-type: none;
    display: flex;
}

.navbar ul li{
    padding: 20px;
    font-family:Poppins;
    font-weight: 500;
    font-size: 1.25em;
    color: #efefef;
    cursor: pointer;
}


.toggle_menu{
    float: right;
    font-size: 30px;
    color: #efefef;
    align-self: center;
    display: none;
}


.toggle_menu .checkbtn{
    cursor: pointer;
}

#check{
    display: none;
}


/* pseudo selectors */
.navbar ul li:hover{
    background-color: #efefef;
    color: #ff3b3f;
}

/* THIS IS WHERE THE NAVBAR CSS ENDS */

.introduction{
    width: 100%;
    height:87vh;
    display: flex;
}

.slider-container{
    flex-basis: 55%;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    /* border: 2px solid green; */
}

.image-slider{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.image-slider ul li{
    list-style-type: none;
}

.image-slider img{
    width: inherit;
    height:inherit;
    object-fit: cover;
    transition: transform 1s ease-in;
}

.btn{
    display: flex;
    position: absolute;
    /* border: 2px solid greenyellow; */
    top: 45%;
    width: 100%;
    justify-content: space-between;
    padding: 0px 5px 0px;
}
.btn-slider{
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    background-color: rgba(255, 255, 255, 0.164);
    color: #ff3b3e81;
    transition:all .6s ease-in 0s;
}

.btn-slider:hover{
    background-color:#ffffff85 ;
    color: #ff3b3e;
}

.slider-dots{
    display: flex;
    width:100px;
    left: 45%;
    top: 95%;
    position: absolute;
    justify-content: center;
}

input[type="radio"]{
    display: none;
}

.slider-dots label input:checked + .dot1{
    background-color: #ff3b3e;
}



.slider-dots label .dot1{
    height: 20px;
    width: 20px;
    background-color: #ff3b3e67;
    border-radius: 50%;
    margin: 0px 2px 0px;
}





.description{
    /* border-bottom: 4px solid #ff3b3f; */
    display: block;
    position: relative;
}

.description::after{
    content: "";
    position: absolute;
    margin: auto;
    bottom: 0;
    height: 2px;
    width: 80%;
    background-color: #ff3b3f;

}

.description h1, .description p{
    margin: auto;
    width: 80%;
    text-align: center;

}

.description .donate_btn{
    position: relative;
    left: 45%;
    margin-top: 20px;
    font-family:Poppins;
    background-color:#ff3b3f;
    color:#efefef;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;

}

.description h1{
    color: #353935;
}

.description p{
    color: #a9a9a9;
    font-size: 20px;
    padding-top: 20px;
}

/*  Mission Statement begins */
.vision, .mission{
    height: 100vh;
    display: flex;
    gap: 10px;
    position: relative;
}


.bg-image{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    -webkit-mask-image: linear-gradient(
    rgb(255 255 255/0.1),
    rgb(255 255 255/0.01) 25%,
    rgb(255 255 255/0)

    );
    mask-image: linear-gradient(
        rgb(255 255 255/0.1),
        rgb(255 255 255/0.01) 25%,
        rgb(255 255 255/0)
    );
    

}


.mStatement, .vImage{
    flex-basis: 55%;
    flex-shrink: 0;
    flex-grow: 0;
    height: 100%;
    /* border: 2px solid black; */
}

.mission-png{
    width: 100%;
    height:100%;
    position: relative;
    padding-top: 15%;
}

/* .mission-png img{
    width: 70%;
    height:auto;
} */

.mission-png h1{
    color: #ff3b3e;
    padding-left: 105px;
    font-size: 50pt;


}

.mission-png h1::before{
    content: "";
    height: 50px;
    width: 25px;
    background-color: #caebf2;
    position: absolute;
    left: 50px;
    top:21%;
}

.mission-png p{
    padding-left: 50px;
    width: 100%;
    line-height: 2.0;
    font-size: 1.5rem;
    color: #a9a9a9;
    /* border: 2px solid rebeccapurple; */
}

.mImage{
    width: 45%;
    height: 100%;
    padding-top: 20px;
    /* border: 2px solid red */
    position: relative;
}


.mission .mImage::before{
    content: "";
    height: 95%;
    width: 80%;
    /* position: absolute; */
    background-color: #ff3b3e;
    float:right;
    /* display: block; */
}

.mission .mImage::after{
    content: "";
    width:80%;
    height: 77%;
    border-radius: 50%;
    position: absolute;
    background-color: #efefef;
    top: 10%;
}

.mImage img{
   width: 80%;
   height: 77%;
   border-radius: 50%;
   position: absolute;
   z-index: 1;
    top: 10%;
}

.mission-nav{
    padding-left: 50px;
}

.vision-nav button, .mission-nav button{
    height: 40px;
    width: 120px;
    background-color: #ff3b3e;
    border-style:none;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    margin-top: 40px;
}

.vision-nav button>i, .mission-nav button>i{
    padding-right: 5px;
    font-size: 1.5em;
    top:50%;
}

/*  Mission Statement ends*/



/* Vision Statement starts*/
.vision{
    column-gap: 2rem;
}

.vision .bg-image{
    /* position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 0;
    top: 0; */
    -webkit-mask-image: linear-gradient(
    rgb(255 255 255/0),
    rgb(255 255 255/0.01) 25%,
    rgb(255 255 255/0.1)

    );
    mask-image: linear-gradient(
        rgb(255 255 255/0),
        rgb(255 255 255/0.01) 25%,
        rgb(255 255 255/0.1)
    );
    

}


.vImage{
    display: flex;
    flex-direction: column;
}


.items{
    height: 120px;
    width: 100%;
    border-radius: 70px;
    /* background-color: #353935; */
    margin: 20px;
    /* border: 2px solid black; */
}


.items img{
    width: 400px;
    height: 100%;
    object-fit: cover;
    border-radius: 70px;
    border: 3px solid #efefef;
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
}

.movement-2>img{
    float: right;
}

.vision-png h1{
    font-size: 3em;
    color: #ff3b3e;
    padding-top: 20px;
    position: relative;
}

.vision-png h1::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 200px;
    background-color: blue;
    bottom: 60%;
    top: 60%;
}



.vision-png p{
    font-size: 1.65em;
    color: #a9a9a9;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 5px
}
.vision-nav{
    padding-left: 10px;
}


/* Vision Statement ends*/

/* programs start */

.programs{
    height: 100vh;
    background-color: #efefef;
    position: relative;
}

.programs .breaker{
    height: 40px;
    width: 100%;
    background-color: #ff3b3f;
    position: absolute;
    top: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.programs h1, .programs p{
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    text-align: center;
}




/* programs ends */

/* Responsive design */
@media (max-width: 962px){
    .navbar ul li{
        font-size: 1.2em;
    }
}
@media (max-width: 941px){
    .navbar ul li{
        font-size: 1.0em;
    }
}

@media (max-width: 860px){
    .navbar{
        flex-direction: column;
    }

    .navbar ul{
        /* flex-direction: column;
        align-items: center; */
        /* position: absolute;
        left: -150%; */
        display: none;
    }

    .toggle_menu{
        float: right;
        font-size: 30px;
        color: #efefef;
        align-self: flex-end;
        padding-right: 20px;
        display: block;
    }

    .navbarUl ul{
        display: block;
    }

    .navbarUl ul li:hover{
        background-color: #efefef;
        color: #ff3b3f;
    }

    .checkbtn{
        position: absolute;
        top: 15px;
        right: 10px;
    }
    /* #check:checked ~ .navbar ul{
        flex-direction: column;
        align-items: center;
        position: relative;
        left: 0;
    }  */
}
